.App {
  text-align: center;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
